# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#CMake stuff
CMakeFiles
cmake_install.cmake
Makefile
CMakeCache.txt

#Waf stuff
soul*.tar.gz
.lock-waf_linux_build

.glew
.glfw
.tinyobjloader
.tinyobj
.glm

*.*.swp

syntax: glob
[B|b]uild/
.idea/
CMakeLists.txt.user
proto/src
*.pyc
.sconsign.dblite
.tinyobjloader/*
bin/*
.build/*
