# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeFiles
cmake_install.cmake
Makefile
CMakeCache.txt

.glew
.glfw
.tinyobjloader

syntax: glob
[B|b]uild/
.idea/
CMakeLists.txt.user
proto/src
*.pyc
.sconsign.dblite
.tinyobjloader/*
bin/*
.build/*
